.panel-details {
	float: left;
	width: 150px;
	height: 800px;
}

.snippet-thumnail {
	margin: 5px;
	border: 1px solid blue;
	font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
	font-size: 12px;
}

.active-snippet-thumnail {
	margin: 5px;
	border: 5px solid blue;
	font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
	font-size: 12px;
}
