.panel-thumbnails-background {
  background: rgba(0, 0, 0, 0.015);
  height: 95vh;
  margin-top: 5px;
  position: relative;
}

.panel-thumbnails-scroll {
  float: left;
  width: 100%;
  overflow: auto;
  height: 100%;
  visibility: hidden;
}

.panel-thumbnails-content,
.panel-thumbnails-scroll:hover {
  visibility: visible;
}

.panel-thumbnails-scroll {

  .font-style-base {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    font-size: 13px;
  }

  ul {
    padding-left: 0px;
  }

  ul:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  ul:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: solid 1px rgb(238, 238, 238);
  }

  .snippet-thumnail-list-item {
    padding: 0 !important;
    border-right-width: 0 !important;
    border-left-width: 0 !important;
    border-top: solid 1px rgb(238, 238, 238);
    background: white;
  }

  .snippet-thumnail-list-item:hover {
    background-color: #F9F9F9;
    cursor: pointer;
  }

  .snippet-thumnail {
    @extend .font-style-base;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .active-snippet-thumnail-base {
    @extend .font-style-base;
    padding: 5px;
    background: rgb(237, 237, 237);
  }

  .active-snippet-thumnail-public {
    @extend .active-snippet-thumnail-base;
    // background: #DFF0D4;
  }

  .active-snippet-thumnail-private {
    @extend .active-snippet-thumnail-base;
    // background: #F2DEDE;
  }

  .snippet-thumnail-description {
    @extend .font-style-base;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
