.font-style-base {
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
  font-size: 13px;
}

.snippet-box {

  .header-table {
    width: 100%;
    display: table;
  }

  .line {
    display: table-cell;
    vertical-align: middle;
  }

  .welcome-section {
    @extend .font-style-base;
  }

  .header-title {
    @extend .font-style-base;
    float: left;
    margin-top: 4px;
    font-size: 14px;
  }

  .customized-button {
    @extend .font-style-base;
    float: right;
    margin: 5px 5px 0px 10px;
  }

  .snippet-code {
    margin: 5px;
    min-height: 90vh;
  }

  .snippet-decription {
    @extend .font-style-base;
  }

  .code-area {
    @extend .font-style-base;
    width: 100%;
    white-space: pre-wrap;
    border: 0px;
  }

  .file-name {
    @extend .font-style-base;
    color: #4078C0;
    margin-bottom: 5px;
  }

  .title-section {
    @extend .font-style-base;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .description-section {
    @extend .font-style-base;
    color: #808080;
  }

  .keywords-section {
    @extend .font-style-base;
    color: grey;
    font-size: 10px;
    font-style: italic;
    margin-top: 15px;
  }

  .snippet-progressbar {
    height: 3px;
    margin-top: 20px;
  }

  pre {
    font-size: 11px !important;
  }

  .line-number {
    text-align: right;
    padding-right: 20px;
    display: inline-block;
    color: rgba(0,0,0,0.25);
    width: 40px;
    font-size: 11px;
    font-style: normal;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }
}

.raw-modal {
  .modal-dialog {
    width: 90vw !important;
  }

  .modal-content {
    @extend .font-style-base;
    min-height: 300px;
     white-space: nowrap;
    overflow: auto;
  }

  .code-area-raw {
    @extend .font-style-base;
    width: 100%;
    min-height: 550px;
    white-space: pre-wrap;
    border: 0px;
  }
}

// CSS technique to disable the line numbers from being selected
// http://codepen.io/danoc/pen/ByGKZv
[data-pseudo-content]::before,
[data-pseudo-content--before]::before,
[data-pseudo-content--after]::after {
  content: attr(data-pseudo-content);
}
