.font-style-base {
  font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, Ubuntu, Droid Sans, sans-serif;
  font-size: 14px;
}

.font-style-md {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.snippet-box {

  .header-table {
    width: 100%;
    display: table;
  }

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .welcome-section {
    @extend .font-style-base;
  }

  .header-title {
    @extend .font-style-base;
    font-size: 13px;
    text-transform: uppercase;

    & > span {
      vertical-align: middle;
    }
  }

  .secret-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
    fill: currentColor;
    width: 11px;

    svg {
      display: block;

    }
  }

  .header-controls {
    display: flex;
    align-items: center;
  }

  .snippet-control {
    @extend .font-style-base;
    margin-left: 15px;
    height: 20px;
    width: 20px;
    display: block;
    position: relative;
    transition: opacity .15s;
    opacity: .7;

    &:hover {
      opacity: 1;
    }

    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 28px;
      width: 28px;
      transform: translate(-50%, -50%);
      fill: var(--text-primary);
    }
  }

  .customized-button {
    @extend .font-style-base;
    margin: 5px 5px 0px 10px;
  }

  .customized-button {
    @extend .font-style-base;
    margin: 5px 5px 0px 10px;
  }

  .snippet-code {
    min-height: 100vh;
    border-color: var(--border-color);
    border-radius: 0;
    border-bottom: none;
    margin-bottom: 0;

    & > .panel-heading {
      position: absolute;
      top: 0;
      left: 1px;
      width: 100%;
      z-index: 5;
      background-color: var(--bg-primary);
      border: none!important;
      color: inherit;
      padding: 12px 15px;

      &:after {
        content: '';
        position: absolute;
        height: 7px;
        bottom: -7px;
        left: 0;
        right: 0;
        box-shadow: var(--shadow-color) 0 7px 7px -7px inset;
      }
    }
  }

  .panel-body {
    margin-top: 55px;
    padding: 0;
  }

  .snippet-description {
    @extend .font-style-base;
    padding: 0 15px 7px;
  }

  .code-table {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    font-size: 13px !important;
  }

  .code-area {
    @extend .font-style-base;
    border: 0px;
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
  }

  pre {
    padding: 10px 12px 10px 2px;
    background-color: var(--bg-primary);
    border: none;
    border-radius: 0;
    font-size: 13px;
    margin: 0 10px;
  }

  .file-header {
    @extend .font-style-base;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    background-color: var(--bg-secondary);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }

  .file-expand {
    font-size: 15px;
    transition: opacity .15s;

    &:hover {
      opacity: .65;
    }

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: 7px;
      height: 7px;
      margin-right: 8px;
      border-width: 0 0 1px 1px;
      border-color: currentColor;
      border-style: solid;
      transform: rotate(-135deg);
      transition: transform .12s ease-in-out;
    }

    &.is-expanded::before {
      transform: translateY(-2px) rotate(-45deg);
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }


  .file-header-control {

    font-size: 12px;
    transition: opacity .15s;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      opacity: .65;
    }
  }

  .file-header-md {
    @extend .file-header;
    // background: rgba(0,0,0,0.03);
    // border: rgb(204,204,204) 1px solid;
    // border-radius: 5px 5px 0px 0px;
    // padding: 10px 10px 10px 10px;
    // margin-bottom: -1px;
  }

  .customized-button-file-header {
    @extend .customized-button;
    margin-top: 2px;
  }

  .title-section {
    @extend .font-style-base;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 7px;
    padding-right: 15px;
    margin-bottom: 3px;
  }

  .description-section {
    @extend .font-style-base;
    color: var(--text-secondary);

    a {
      color: rgb(3, 123, 183);
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .custom-tags-section {
    margin-top: 15px;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .custom-tags,
  .update-date {
    @extend .font-style-base;
    color: var(--text-secondary);
    font-size: 12px;
    font-style: italic;
  }

  .custom-tags {
    float: left;

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .custom-tags-icon {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    margin-right: 2px;
    position: relative;
  }

  .update-date {
    float: right;
  }

  .snippet-progressbar {
    height: 3px;
    margin-top: 20px;
  }

  .line-number {
    text-align: right;
    padding-right: 20px;
    display: inline-block;
    color: var(--text-secondary);
    opacity: .5;
    width: 42px;
    font-size: 12px;
    font-style: normal;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }

  .markdown-section {
    @extend .font-style-md;
    padding: 15px 20px;
  }

  hr {
    margin-top: 0 !important;
    margin-bottom: 7px !important;
    border: none !important;
  }
}

.edit-modal {
  width: 98vw;
}

.raw-modal {
  .modal-dialog {
    width: 98vw !important;
  }

  .copy-raw-link {
    @extend .font-style-base;
    margin-top: 2px;
    margin-right: 30px;
    float: right;
  }

  .modal-content {
    @extend .font-style-base;
    min-height: 300px;
    white-space: nowrap;
    overflow: auto;
  }

  .code-area-raw {
    @extend .font-style-base;
    width: 100%;
    min-height: 550px;
    white-space: pre-wrap;
    border: 0px;
  }
}

// CSS technique to disable the line numbers from being selected
// http://codepen.io/danoc/pen/ByGKZv
[data-pseudo-content]::before,
[data-pseudo-content--before]::before,
[data-pseudo-content--after]::after {
  content: attr(data-pseudo-content);
}
