.font-style-base {
  font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, Ubuntu, Droid Sans, sans-serif;
  font-size: 14px;
}

.font-style-md {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.snippet-box {

  .header-table {
    width: 100%;
    display: table;
  }

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .welcome-section {
    @extend .font-style-base;
  }

  .header-title {
    @extend .font-style-base;
    font-size: 13px;
    text-transform: uppercase;
  }

  .header-controls {
    display: flex;
    align-items: center;
  }

  .snippet-control {
    @extend .font-style-base;
    margin-left: 15px;
    height: 20px;
    width: 20px;
    display: block;
    position: relative;

    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 28px;
      width: 28px;
      transform: translate(-50%, -50%);
      fill: #6b6a6f;
      transition: fill .15s;
    }

    &:hover svg {
      fill: #2E2C33;
    }
  }

  .customized-button {
    @extend .font-style-base;
    margin: 5px 5px 0px 10px;
  }

  .customized-button {
    @extend .font-style-base;
    margin: 5px 5px 0px 10px;
  }

  .snippet-code {
    min-height: 100vh;
    border-color: #dadee3;
    border-radius: 0;
    border-bottom: none;
    margin-bottom: 0;

    & > .panel-heading {
      position: absolute;
      top: 0;
      left: 1px;
      width: 100%;
      z-index: 5;
      background-color: #fff;
      border: none!important;
      color: inherit;
      padding: 12px 15px;

      &:after {
        content: '';
        position: absolute;
        height: 7px;
        bottom: -7px;
        left: 0;
        right: 0;
        box-shadow: rgba(55, 55, 55, .3) 0 7px 7px -7px inset;
      }
    }
  }

  .panel-body {
    margin-top: 55px;
    padding: 0;
  }

  .snippet-description {
    @extend .font-style-base;
    padding: 0 15px 7px;
  }

  .code-table {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    font-size: 13px !important;
  }

  .code-area {
    @extend .font-style-base;
    border: 0px;
    border-bottom: 1px solid #dadee3;
  }

  pre {
    padding: 8px 12px 5px 2px;
    margin: 0 0 10px;
    background-color: #fff;
    border: none;
    border-radius: 0;
    font-size: 13px;
  }

  .file-header {
    @extend .font-style-base;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    background-color: #f6f5f6;
    border-top: 1px solid #dadee3;
    border-bottom: 1px solid #dadee3;
  }

  .file-expand {
    font-size: 15px;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: baseline;
      position: relative;
      width: 7px;
      height: 7px;
      margin-right: 8px;
      border-width: 0 0 2px 2px;
      border-color: currentColor;
      border-style: solid;
      transform: rotate(-135deg);
      transition: transform .12s ease-in-out;
    }

    &.is-expanded::before {
      transform: translateX(-2px) rotate(-45deg);
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }


  .file-header-control {

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .file-header-md {
    @extend .file-header;
    // background: rgba(0,0,0,0.03);
    // border: rgb(204,204,204) 1px solid;
    // border-radius: 5px 5px 0px 0px;
    // padding: 10px 10px 10px 10px;
    // margin-bottom: -1px;
  }

  .customized-button-file-header {
    @extend .customized-button;
    margin-top: 2px;
  }

  .title-section {
    @extend .font-style-base;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 7px;
    padding-right: 15px;
    margin-bottom: 3px;
  }

  .description-section {
    @extend .font-style-base;
    color: #787282;

    a {
      color: rgb(3, 123, 183);
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .custom-tags-section {
    margin-top: 15px;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .custom-tags,
  .update-date {
    @extend .font-style-base;
    color: #787282;
    font-size: 12px;
    font-style: italic;
  }

  .custom-tags {
    float: left;

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .custom-tags-icon {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    margin-right: 2px;
    position: relative;
  }

  .update-date {
    float: right;
  }

  .snippet-progressbar {
    height: 3px;
    margin-top: 20px;
  }

  .line-number {
    text-align: right;
    padding-right: 20px;
    display: inline-block;
    color: rgba(0,0,0,0.25);
    width: 42px;
    font-size: 12px;
    font-style: normal;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }

  .markdown-section {
    @extend .font-style-md;
    // border: 1px solid rgb(204, 204, 204);
    padding: 15px 20px;
    // border-radius: 0 0 5px 5px;

    pre {
      font-size: 13px !important;
    }
  }

  hr {
    margin-top: 0 !important;
    margin-bottom: 7px !important;
    border: none !important;
  }
}

.edit-modal {
  width: 98vw;
}

.raw-modal {
  .modal-dialog {
    width: 98vw !important;
  }

  .copy-raw-link {
    @extend .font-style-base;
    margin-top: 2px;
    margin-right: 30px;
    float: right;
  }

  .modal-content {
    @extend .font-style-base;
    min-height: 300px;
    white-space: nowrap;
    overflow: auto;
  }

  .code-area-raw {
    @extend .font-style-base;
    width: 100%;
    min-height: 550px;
    white-space: pre-wrap;
    border: 0px;
  }
}

// CSS technique to disable the line numbers from being selected
// http://codepen.io/danoc/pen/ByGKZv
[data-pseudo-content]::before,
[data-pseudo-content--before]::before,
[data-pseudo-content--after]::after {
  content: attr(data-pseudo-content);
}

// GitHub style markdown css
.markdown-section {
   body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Segoe UI Symbol';
    font-size: 14px;
    line-height: 1.6 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 30px;
   }

   body > *:first-child {
    margin-top: 0 !important;
   }

   body > *:last-child {
    margin-bottom: 0 !important;
   }

   a {
    color: #4183C4;
    text-decoration: none;
   }

   a.absent {
    color: #cc0000;
   }

   a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
   }

   h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
   }

   h2:first-child, h1:first-child, h1:first-child + h2, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
    padding-top: 0;
   }

   h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
    text-decoration: none;
   }

   h1 tt, h1 code {
    font-size: inherit;
   }

   h2 tt, h2 code {
    font-size: inherit;
   }

   h3 tt, h3 code {
    font-size: inherit;
   }

   h4 tt, h4 code {
    font-size: inherit;
   }

   h5 tt, h5 code {
    font-size: inherit;
   }

   h6 tt, h6 code {
    font-size: inherit;
   }

   h1 {
    font-size: 28px;
   }

   h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
   }

   h3 {
    font-size: 18px;
   }

   h4 {
    font-size: 16px;
   }

   h5 {
    font-size: 14px;
   }

   h6 {
    color: #777777;
    font-size: 14px;
   }

   p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
    line-height: 1.8;
   }

   li {
     margin: 0;
   }

   hr {
    background: transparent repeat-x 0 0;
    border: 0 none;
    color: #cccccc;
    height: 4px;
    padding: 0;
   }

   body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
   }

   body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
   }

   body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
   }

   body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
   }

   a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
   }

   h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
    margin-top: 0;
   }

   li p.first {
    display: inline-block;
   }

   ul, ol {
    padding-left: 30px;
   }

   ul :first-child, ol :first-child {
    margin-top: 0;
   }

   ul :last-child, ol :last-child {
    margin-bottom: 0;
   }

   dl {
    padding: 0;
   }

   dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
   }

   dl dt:first-child {
    padding: 0;
   }

   dl dt > :first-child {
    margin-top: 0;
   }

   dl dt > :last-child {
    margin-bottom: 0;
   }

   dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
   }

   dl dd > :first-child {
    margin-top: 0;
   }

   dl dd > :last-child {
    margin-bottom: 0;
   }

   blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
    font-size: 12px;
   }

   blockquote > :first-child {
    margin-top: 0;
   }

   blockquote > :last-child {
    margin-bottom: 0;
   }

   table {
    padding: 0;
   }
   table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
   }

   table tr:nth-child(2n) {
    background-color: #f8f8f8;
   }

   table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
   }

   table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
   }

   table tr th :first-child, table tr td :first-child {
    margin-top: 0;
   }

   table tr th :last-child, table tr td :last-child {
    margin-bottom: 0;
   }

   img {
    max-width: 100%;
   }

   span.frame {
    display: block;
    overflow: hidden;
   }

   span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
   }

   span.frame span img {
    display: block;
    float: left;
   }

   span.frame span span {
    clear: both;
    display: block;
    padding: 5px 0 0;
   }

   span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
   }

   span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
   }

   span.align-center span img {
    margin: 0 auto;
    text-align: center;
   }

   span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
   }

   span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
   }

   span.align-right span img {
    margin: 0;
    text-align: right;
   }

   span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
   }

   span.float-left span {
    margin: 13px 0 0;
   }

   span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
   }

   span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
   }

   code, tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f7fa;
    border-radius: 3px;
   }

   pre code {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    border: none;
    background: transparent;
   }

   .highlight pre {
    background-color: #f8f7fa;
    border: 1px solid #dadee3;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 12px 12px;
    border-radius: 3px;
   }

   pre {
    background-color: #f8f7fa;
    border: 1px solid #dadee3;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 12px 12px;
    border-radius: 3px;
   }

   pre code, pre tt {
    background-color: transparent;
    border: none;
   }

  img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
}
