.search-modal {

  .font-style-base {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    font-size: 13px;
  }

  .search-box {
    @extend .font-style-base;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: 0;
  }

  .search-box:focus {
    outline:none;
  }

  .search-result-item {

  }

  .list-group-item {
    border-left: 0;
    border-right: 0;
  }

  .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .snippet-description {
    @extend .font-style-base;
  }

  .not-found-msg {
    @extend .font-style-base;
    font-size: 15px;
    padding: 10px;
    color: grey;
  }

  .langTagGroup {
    margin-top: 10px;
  }

  .langTag {
    display: inline;
    margin-right: 10px;
    font-size: 11px;
    color: #4078C0;
  }

  .modal-button-base {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  .modal {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    margin-top: 100px;
  }

  .profile-image-modal {
    width: 200px;
    margin: 5px;
  }

  .button-group-modal {
    margin: 20px 0;
  }

  .modal-button {
    @extend .modal-button-base;
  }

  .modal-button-disabled {
    @extend .modal-button-base;
    cursor: not-allowed;
  }

  .modal-button-disabled:hover {
    cursor: not-allowed;
  }
}
