.gist-editor-form {

  .font-style-base {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    font-size: 13px;
  }

  .font-style-blue {
    @extend .font-style-base;
    color: #4078C0 !important;
  }

  .gist-editor-control-button {
    margin: 5px 2px;
    float: right;
  }

  .gist-editor-new-gist-button {
    margin: 5px 0px;
  }

  .gist-editor-section {
    margin: 5px 5px;
  }

  .gist-editor-section .panel-body {
    padding: 0px !important;
  }

  .gist-editor-section .panel-heading {
    padding: 2px 5px !important;
  }

  .gist-editor-input-area {
    @extend .font-style-base;
    width: 100%;
    padding: 5px;
    border: solid  1px;
    border-color: #D3D3D3;
    border-radius: 3px;
  }

  .gist-editor-filename-area {
    @extend .font-style-base;
    width: 80%;
    margin: 5px 20px 5px 0px;
    padding: 5px;
    border: solid  1px;
    border-color: #D3D3D3;
    border-radius: 3px;
  }

  .gist-editor-content-area {
    @extend .font-style-base;
    width: 100%;
    padding: 5px;
    min-height: 300px;
    border: 0px;
    resize: none;
  }

  .gist-editor-gist-file {
    border: 0px;
    padding: 10px 0px !important;
  }

  .control-button-group {
    height: 45px;
  }

  .gist-editor-customized-tag {
    @extend .font-style-blue;
    margin-left: 5px;
  }

  .gist-editor-customized-tag-hidden {
    @extend .gist-editor-customized-tag;
    visibility: hidden;
  }

  .gist-editor-privacy-checkbox {
    @extend .font-style-blue;
    display: inline;
    float: right;
  }

  .title-input-field {
    display: inline;
  }

  .error-msg {
    @extend .font-style-base;
    font-size: 11px;
    font-weight: bold;
    color: #B0580E;
  }
}