.menu-panel {
  padding: 4px 7px;
  float: left;
  width: 140px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  color: var(--text-primary);
  background-color: var(--bg-secondary);
}

.menu-panel {

  hr {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border-top: 1px solid var(--border-color);
  }

  .font-style-base {
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, Ubuntu, Droid Sans, sans-serif;
    font-size: 14px;
  }

  .gist-tag {
    @extend .font-style-base;
    color: var(--text-secondary-darken);
    cursor: pointer;
    transition: color .15s;

    &:hover {
      color: var(--text-primary)
    }
  }

  .configure-tag {
    padding: 3px;
    width: 10px;
    height: 14px;
    box-sizing: content-box;
    cursor: pointer;
    fill: var(--text-secondary);
    transition: fill .15s;

    svg {
      display: block;
      width: 100%;
      height: 100%
    }

    &:hover {
      fill: #413D45;
    }
  }

  .configure-tag-line {
    // margin-top: 15px;
  }

  .user-panel {
    flex: 0 0;
  }

  .gist-tag-section {
    margin-left: 0px;
    flex: 1 1 1px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .tag-section-list {
    flex: 1 1 1px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .tag-section-title {
    @extend .font-style-base;
    font-size: 13px;
    letter-spacing: .25px;
    text-transform: uppercase;
    font-weight: 500;
    color: inherit;
    margin-bottom: 6px;
    position: relative;
    transition: opacity .15s;

    &:hover {
      opacity: .65;
    }
  }

  .tag-section {
    flex: 1 0 33.333%;
    max-height: 33.333%;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    border-top: 1px solid var(--border-color);
  }

  .tag-section-active {
    flex: 1 1 auto;
    max-height: none;
  }

  .tag-section-hidden {
    flex: 0 0 auto;

    .tag-section-title,
    .pinned-tag-header {
      margin-bottom: 0;
    }

    .tag-section-content {
      height: 0;
    }
  }

  .tag-section-content {
    flex: 1 1 auto;
    overflow: auto;
    padding-left: 16px;
  }

  .active-gist-tag {
    @extend .font-style-base;
    color: var(--text-primary);
    font-weight: bold;
    cursor: pointer;
  }

  .pinned-tag-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;

    .tag-section-title {
      margin-bottom: 0;
    }
  }
}

.pinned-tags-modal {
  .pin-tag-table {
    width: 100%;
  }

  .font-style-base {
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, Ubuntu, Droid Sans, sans-serif;
    font-size: 14px;
  }

  .gist-tag-not-pinned {
    @extend .font-style-base;
    margin: 5px;
    cursor: pointer;
  }

  .gist-tag-pinned {
    @extend .font-style-base;
    margin: 5px;
    color: rgb(3, 123, 183);
    font-weight: bold;
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
