.menu-panel {
	margin: 2px 5px;
	float: left;
	width: 100px;
	height: 95vh;
}

.lang-tag {
	margin: 5px;
	font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
	font-size: 13px;
}

.lang-tag:hover {
	cursor: pointer;
}

.lang-tag-section {
	margin-left: 0px;
}

.active-lang-tag {
	margin: 5px;
	color: #B0580E;
	font-weight: bold;
	font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
	font-size: 13px;
}

.active-lang-tag:hover {
	cursor: pointer;
}
