.menu-panel {
  padding: 4px 7px;
  float: left;
  width: 140px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e3e3e3;
  color: #47414d;
  background-color: #f6f5f6;
}

.menu-panel {

  hr {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }

  .font-style-base {
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, Ubuntu, Droid Sans, sans-serif;
    font-size: 13px;
  }

  .gist-tag {
    @extend .font-style-base;
    color: inherit;
  }

  .configure-tag:hover,
  .gist-tag:hover {
    cursor: pointer;
  }

  .configure-tag {
    height: 10px;
    width: 10px;
    transition: opacity .1s;
    opacity: .55;
    margin-bottom: 2px;
    background-image: url('~./plus_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      opacity: .8;
    }
  }

  .configure-tag-line {
    // margin-top: 15px;
  }

  .user-panel {
    flex: 0 0;
  }

  .gist-tag-section {
    margin-left: 0px;
    flex: 1 1 1px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .tag-section-list {
    flex: 1 1 1px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .tag-section-title {
    @extend .font-style-base;
    font-size: 15px;
    color: inherit;
    margin-bottom: 7px;
    position: relative;
  }

  .tag-section {
    flex: 1 0 33.333%;
    max-height: 33.333%;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    border-top: 1px solid #e3e3e3;
  }

  .tag-section-content {
    height: 100%;
    overflow: auto;
    padding-left: 20px;
  }

  .active-gist-tag {
    @extend .font-style-base;
    color: #000;
    font-weight: bold;
    cursor: pointer;
  }

  .pinned-tag-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;

    .tag-section-title {
      margin-bottom: 0;
    }
  }
}

.pinned-tags-modal {
  .pin-tag-table {
    width: 100%;
  }

  .font-style-base {
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, Ubuntu, Droid Sans, sans-serif;
    font-size: 13px;
  }

  .gist-tag-not-pinned {
    @extend .font-style-base;
    margin: 5px;
  }

  .gist-tag-pinned {
    @extend .font-style-base;
    margin: 5px;
    color: #B0580E;
    font-weight: bold;
  }

  .gist-tag-not-pinned:hover,
  .gist-tag-pinned {
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
