*:not(.modal):not(:hover)::-webkit-scrollbar {
  display: none;
}
  
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #f5f5f5;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}