::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: transparent;
  -webkit-box-shadow: none;
}

*:hover::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:focus-within::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb,
.modal *::-webkit-scrollbar-thumb {
  background: rgba(245, 245, 245, 0.85);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.45);
}
