.snippet-table {
  float: right;
  width: calc(100% - 310px - 20px);
  overflow: auto;
  height: 97vh;
}

.snippet-table {
  .font-style-base {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    font-size: 13px;
  }

  .welcome-section {
    @extend .font-style-base;
    font-size: 15px;
    text-align: center;
    height: 92vh;
  }
}
