.user-panel {
  // float: left;
  // width: 10%;
  // height: 800px;
}

.profile-image-modal {
  width: 200px;
  margin: 5px;
}

.button-group-modal {
  margin: 20px 0;
}

.button-modal {
  margin: 5px;
  width: 100%;
}

.profile-image-section {
  width: 80px;
  margin: 5px;
}

.customized-tag {
  margin: 5px;
  font-size: 13px;
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
}

.customized-tag-small {
  margin: 3px;
  font-size: 10px;
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
}
