.user-panel {

  .font-style-base {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    font-size: 13px;
  }

  .profile-image-section {
    width: 90px;
    margin: 5px;
  }

  .resync-progress-bar {
    width: 90%;
    height: 5px;
    margin-bottom: 0;
  }

  .resync-progress-bar-hidden {
    @extend .resync-progress-bar;
    visibility: hidden;
  }

  .customized-tag {
    @extend .font-style-base;
    margin: 5px;
  }

  .customized-tag-small {
    @extend .font-style-base;
    font-size: 10px;
    margin: 3px;
  }
}
