.user-panel {

  .font-style-base {
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, Ubuntu, Droid Sans, sans-serif;
    font-size: 13px;
  }

  .profile-image-section {
    max-width: 100%;
    margin: 3px 0 5px;
  }

  .profile-image-section:hover {
    cursor: pointer;
  }

  .resync-progress-bar {
    width: 90%;
    height: 3px;
    margin-bottom: 0;
  }

  .user-panel-icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    height: 30px;
    width: 30px;
    margin-left: -3px;
    fill: currentColor;
  }

  .user-panel-button {
    @extend .font-style-base;
    font-size: 15px;
    margin-top: 8px;
    color: inherit;
    transition: color .1s;

    &:hover {
      color:#313133;
    }
  }

  .customized-tag-small {
    @extend .font-style-base;
    margin: 3px;
    font-size: 11px;
    color: #787282;
  }
}

.new-modal {
  width: 90vw;
}

/* Global setting affecting all dialogs (NEW/EDIT) if not overwritten. */
.modal {
  -webkit-app-region: drag;
  background: rgba(0, 0, 0, 0.1);
}
