.user-panel {

  .font-style-base {
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, Ubuntu, Droid Sans, sans-serif;
    font-size: 13px;
  }

  .profile-image-section {
    max-width: 100%;
  }

  .profile-image-section:hover {
    cursor: pointer;
  }

  .theme-toggle {
    color: var(--text-invert);
    background-color: var(--accent-regular);
    border: 0;
    outline: 0;
    width: 100%;
    padding: 5px 15px;
  }

  /* wrap words if username cannot fit into one line */
  .profile-username-section {
    word-wrap: break-word;
    line-height: 1em;
    max-width: 2em;
  }

  .resync-progress-bar {
    width: 100%;
    height: 3px;
    margin-bottom: 0;
  }

  .user-panel-icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    height: 30px;
    width: 30px;
    margin-left: -3px;
    fill: currentColor;
  }

  .user-panel-button {
    @extend .font-style-base;
    font-size: 15px;
    margin-top: 8px;
    color: inherit;
    opacity: .95;
    transition: opacity .15s;

    &:hover {
      opacity: .7;
    }
  }

  .customized-tag-small {
    @extend .font-style-base;
    margin: 3px;
    font-size: 11px;
    color: var(--text-secondary);
  }
}

.new-modal {
  width: 98vw;
}

/* Global setting affecting all dialogs (NEW/EDIT) if not overwritten. */
.modal {
  -webkit-app-region: drag;
  background: rgba(0, 0, 0, 0.1);
}

/* Stikcer peeling effect for profile image */
/* http://littlesnippets.net/6-css-image-hover-effects-using-page-curls/ */
figure.sticker-img {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  min-width: 125px;
  max-width: 125px;
  max-height: 125px;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  margin: 3px 0 5px;
}
figure.sticker-img * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.sticker-img img {
  opacity: 1;
  width: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
figure.sticker-img > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.sticker-img > div::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  background-image: linear-gradient(45deg, #000000 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.8));
}
figure.sticker-img h5 {
  font-size: 0.75em;
  width: 100%;
  word-spacing: -0.1em;
  font-weight: 100;
  text-transform: uppercase;
  top: 0;
  opacity: 0;
  padding: 5px;
  margin: 0;
  position: absolute;
  color: transparent;
  text-shadow: 0 0 10px #ffffff;
  text-align: right;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.sticker-img h5 span {
   font-weight: 800;
}
figure.sticker-img i {
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  padding: 3px 8px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.05s linear;
  transition: 0.05s linear;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
figure.sticker-img .curl {
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(225deg, #ffffff, #f3f3f3 20%, #bbbbbb 38%, #aaaaaa 44%, #888888 50%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.3));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all .4s ease;
}
figure.sticker-img .curl:before,
figure.sticker-img .curl:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 12%;
  bottom: 6%;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
  transform: skew(-10deg) rotate(-6deg);
}
figure.sticker-img .curl:after {
  left: auto;
  right: 6%;
  bottom: auto;
  top: 14%;
  transform: skew(-15deg) rotate(-84deg);
}
figure.sticker-img a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.sticker-img:hover > div h5,
figure.sticker-img.hover > div h5 {
  opacity: 1;
  text-shadow: 0 0 0px #ffffff;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.sticker-img:hover > div::before,
figure.sticker-img.hover > div::before {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.sticker-img:hover i,
figure.sticker-img.hover i {
  opacity: 0.7;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.sticker-img:hover .curl,
figure.sticker-img.hover .curl {
  width: 50px;
  height: 50px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
